<%- include('partials/header.ejs') %>
<div class="card-container">
  <h1 class="header-title">This File doesn't Exist</h1>
  <p class="header-title">The file <u><%= name %></u> cannot be found</p>
  <div class="header-title">
    <a href="/">Go back</a>
  </div>
</div>
<%- include('partials/footer.ejs') %>